<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.mapper.SkuMapper">
  <select id="select_spu_by_class_2_id_tm_id" parameterType="map" resultType="com.atguigu.bean.T_MALL_PRODUCT">
  		select * from t_mall_product where flbh2 = #{flbh2} and pp_id = #{pp_id}
  </select>
  
  <select id="select_attr_value_by_class2_id"  
		resultMap="select_attr_value_by_class2_id_map">
		select a.*,b.*,a.id as attr_id,b.id as value_id 
		from t_mall_attr a ,t_mall_value b 
		where a.Id = b.shxm_id and a.flbh2 = #{class_2_id}
  </select>
	
  <resultMap type="com.atguigu.bean.OBJECT_MALL_ATTR_VALUE" id="select_attr_value_by_class2_id_map" autoMapping="true">
		<result property="id" column="attr_id"/>
		<collection property="list_value" ofType="com.atguigu.bean.T_MALL_VALUE" autoMapping="true">
			<result property="id" column="value_id"/>
		</collection>
  </resultMap>
  <insert id="insert_sku" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
  		insert into t_mall_sku (
						shp_id,
						kc,
						jg,
						sku_mch,
						kcdz
  		) values(#{shp_id},#{kc},#{jg},#{sku_mch},#{kcdz})
  </insert>
  <insert id="insert_sku_attr_value" parameterType="map">
  		insert into t_mall_sku_attr_value(
							shxm_id,
							shxzh_id,
							shp_id,
							sku_id
  		) values
  		<foreach collection="sku_list" item="item" separator=",">
  			(#{item.shxm_id},#{item.shxzh_id},#{item.shp_id},#{sku_id})
  		</foreach>
  </insert>
</mapper>
